@import './variables';
@import './mixins';

.black {
  color: black
}

body, html {
  font-family: 'Anonymous Pro', ;
  font-size: 16px;
}

a, button {
  @include transition(all 0.3s);
  &:hover {
    @include transition(all 0.3s);
  }
}
a {
  text-decoration: none;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
.icon-right {
  margin-left: 5px;
}
.icon-left {
  margin-right: 5px;
}

.content-wrap {
  width: 100%;
  background: rgba(255,255,255,0.4);
  position:relative;
  min-height:100%;
  &.home {
    min-height: initial;
  }
  .sub-container {
    overflow:scroll;
    background:white;
    height:100%;
    padding:20px;
    .section {
      margin: 20px 0;
    }
  }
}