$tm-blue : rgba(95,202,227,1.0);
$tm-blueH : rgba(95,202,227,0.7);
$tm-green : rgba(179,210,54,1.0);
$tm-greenH : rgba(179,210,54,0.7);
$tm-pink : rgba(237,37,63,1.0);
$tm-pink : rgba(237,37,63,0.7);

$med-gray: rgba(74,74,74,1.0);
$med-grayH: rgba(74,74,74,0.7);
$light-gray: rgba(109,109,109,1.0);
$light-grayH: rgba(109,109,109,1.0);
$lightest-gray: rgba(230,230,230,1.0);
$lightest-grayH: rgba(230,230,230,1.0);
