$tm-blue : rgba(120,202,222,1.0);
$tm-blueH : rgba(120,202,222,0.7);
$tm-green : rgba(193,202,86,1.0);
$tm-greenH : rgba(193,202,86,0.7);
$tm-pink : rgba(223,79,88,1.0);
$tm-pink : rgba(223,79,88,0.7);


$med-gray: rgba(74,74,74,1.0);
$med-grayH: rgba(74,74,74,0.7);
$light-gray: rgba(109,109,109,1.0);
$light-grayH: rgba(109,109,109,1.0);
$lightest-gray: rgba(230,230,230,1.0);
$lightest-grayH: rgba(230,230,230,1.0);
