@import '../variables';
@import '../mixins';

.make-mix {
  input, select {
    width: 100%;
    min-height: 60px;
    font-size: 24px;
    padding: 10px;
    border: 1px $lightest-gray solid;
  }
  .geosuggest {
    background-color: $tm-green;
    ul {
      height:0;
      transform: all 0.3s ease-out;
      padding:0;
      margin:0;
      opacity:0;
    }
    &.open {
      ul {
        opacity: 1.0;
        height: auto;
        transform: all 0.3s ease-out;
        list-style: none;
        li {
          padding: 19px 10px;
          border-bottom: 1px solid $light-grayH;
          &:last-child {
            border-bottom:none;
          }
        }
      }
    }
  }
  .results-area {
    max-height: 400px;
    overflow: scroll;
    .search-result {
      display: flex;
      align-items: center;
      margin: 5px 0;
      background-color: white;
      border: 1px $lightest-gray solid;
      @include transition(background-color 0.3s);
      &:hover {
        @include transition(background-color 0.3s);
        background-color: $lightest-gray;
      }
      .song-preview {
        width: 100px;
        height: 100px;
        position: relative;
        cursor: pointer;
        img {
          height: 100%;
        }
        .audio-buttons {
          position: absolute;
          top: 50%;
          left: 50%;
          transform:translate(-50%, -50%);
          background-color: white;
          .playButton {
            display:block;
          }
          .pauseButton {
            display:none;
          }
        }
        &.nowplaying {
          .audio-buttons {
            .playButton {
              display:none;
            }
            .pauseButton {
              display:block;
            }
          }
        }
      }
      .song-meta {
        padding: 10px;
        cursor:pointer;
      }    
    }
  }
}